<div class="main-content">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="header text-center">
        <h3 class="title">Relatórios de atendimento</h3>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-rose">
              <div id="roundedLineChart" class="ct-chart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Atendimentos no mês</h4>
              <p class="card-category">Linha progressiva</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <div id="straightLinesChart" class="ct-chart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Cadastros de cursos</h4>
              <p class="card-category">Linha pontual</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-info">
              <div id="simpleBarChart" class="ct-chart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title ">Evolução de atendimentos</h4>
              <p class="card-category">Evolução</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-icon card-header-info">
              <div class="card-icon">
                <i class="material-icons">timeline</i>
              </div>
              <h4 class="card-title">Evolução de atendimentos
                <small></small>
              </h4>
            </div>
            <div class="card-body">
              <div id="colouredRoundedLineChart" class="ct-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">insert_chart</i>
              </div>
              <h4 class="card-title">Atendimentos no mês
                <small></small>
              </h4>
            </div>
            <div class="card-body">
              <div id="multipleBarsChart" class="ct-chart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="card">
            <div class="card-header card-header-icon card-header-info">
              <div class="card-icon">
                <i class="material-icons">timeline</i>
              </div>
              <h4 class="card-title">Progressão de acessos
                <small></small>
              </h4>
            </div>
            <div class="card-body">
              <div id="colouredBarsChart" class="ct-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-danger">
              <div class="card-icon">
                <i class="material-icons">pie_chart</i>
              </div>
              <h4 class="card-title">Cursos mais acessados</h4>
            </div>
            <div class="card-body">
              <div id="chartPreferences" class="ct-chart"></div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="card-category">Legend</h6>
                </div>
                <div class="col-md-12">
                  <i class="fa fa-circle text-info"></i> Curso de DJ
                  <i class="fa fa-circle text-warning"></i> Curso de canto
                  <i class="fa fa-circle text-danger"></i> Curso de piano
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
