<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-text">
            <div class="card-text card-header-app-radio-red">
              <h4 class="card-title">Cadastro de usuários</h4>
            </div>
          </div>
          <div class="card-body ">
            <form [formGroup]="formGroup" (ngSubmit)="ngSubmit()" class="form-horizontal">

              <!-- Nome completo -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Nome completo</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Nome completo do usuário" [matTooltipPosition]="'right'"
                           placeholder="Andressa Silva Santos"
                           formControlName="nomeCompleto">
                  </mat-form-field>
                </div>
              </div>

              <!-- Nome de usuario -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Usuário (Login)</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Nome de usuário/login" [matTooltipPosition]="'right'"
                           placeholder="andressa.silva"
                           formControlName="nomeUsuario">
                  </mat-form-field>
                </div>
              </div>

              <!-- Senha -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Senha</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password"
                           matTooltip="Senha para usuário" [matTooltipPosition]="'right'"
                           placeholder="*******"
                           formControlName="senha">
                  </mat-form-field>
                </div>
              </div>

              <!-- Perfis -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Tipo de usuário</label>
                <div class="col-lg-5 col-md-8 col-sm-4">
                  <mat-form-field>
                    <mat-select
                            formControlName="perfil"
                            placeholder="Tipo de usuário" name="perfil" [(ngModel)]="perfilAtual">
                      <mat-option *ngFor="let perfil of perfis" [value]="perfil.value">
                        {{ perfil.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <!-- Email -->
              <div class="row">
                <label class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="email"
                           matTooltip="E-mail principal da empresa/unidade" [matTooltipPosition]="'right'"
                           placeholder="exemplo@exemplo.com.br"
                           formControlName="email">
                  </mat-form-field>
                </div>
              </div>

              <!-- CPF -->
              <div class="row">
                <label class="col-sm-2 col-form-label">CPF</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Documento CPF do usuário" [matTooltipPosition]="'right'"
                           placeholder="000.000.000-00"
                           formControlName="cpf">
                  </mat-form-field>
                </div>
              </div>

              <!-- RG -->
              <div class="row">
                <label class="col-sm-2 col-form-label">RG</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Documento RG do usuário" [matTooltipPosition]="'right'"
                           placeholder="0.000.000"
                           formControlName="rg">
                  </mat-form-field>
                </div>
              </div>

              <!-- Orgao emissor -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Órgão emissor</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Órgão emissor do documento" [matTooltipPosition]="'right'"
                           placeholder="SSP/DF"
                           formControlName="orgaoEmissor">
                  </mat-form-field>
                </div>
              </div>

              <!-- Data da emissão -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Data da emissão</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Data da emissão" [matTooltipPosition]="'right'"
                           placeholder="10/10/2010"
                           formControlName="dataEmissao">
                  </mat-form-field>
                </div>
              </div>

              <!-- Data da nascimento -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Data nascimento</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Data nascimento" [matTooltipPosition]="'right'"
                           placeholder="10/10/2010"
                           formControlName="dataNascimento">
                  </mat-form-field>
                </div>
              </div>

              <!-- Naturalidade -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Naturalidade</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Naturalidade" [matTooltipPosition]="'right'"
                           placeholder="Brasiliense"
                           formControlName="naturalidade">
                  </mat-form-field>
                </div>
              </div>

              <!-- Nacionalidade -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Nacionalidade</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Naturalidade" [matTooltipPosition]="'right'"
                           placeholder="Brasileiro"
                           formControlName="nacionalidade">
                  </mat-form-field>
                </div>
              </div>

              <!-- Sexo -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Gênero</label>
                <div class="col-lg-5 col-md-8 col-sm-4">
                  <mat-form-field>
                    <mat-select
                            formControlName="genero"
                            placeholder="Gênero" name="genero" [(ngModel)]="generoAtual">
                      <mat-option *ngFor="let genero of generos" [value]="genero.value">
                        {{ genero.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <!-- Estado civil -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Estado civil</label>
                <div class="col-lg-5 col-md-8 col-sm-4">
                  <mat-form-field>
                    <mat-select
                            formControlName="estadoCivil"
                            placeholder="Estado civil" name="estadoCivil" [(ngModel)]="estadoCivil">
                      <mat-option *ngFor="let estadoCivil of estadosCivil" [value]="estadoCivil.value">
                        {{ estadoCivil.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <!-- Escolaridade-->
              <div class="row">
                <label class="col-sm-2 col-form-label">Escolaridade</label>
                <div class="col-lg-5 col-md-8 col-sm-4">
                  <mat-form-field>
                    <mat-select
                            formControlName="escolaridade"
                            placeholder="Escolaridade" name="escolaridade" [(ngModel)]="escolaridade">
                      <mat-option *ngFor="let escolaridade of escolaridades" [value]="escolaridade.value">
                        {{ escolaridade.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <!-- Telefone -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Telefone</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="phone"
                           matTooltip="Telefone principal da empresa/unidade" [matTooltipPosition]="'right'"
                           placeholder="(61) 9 9797-9797"
                           formControlName="telefone">
                  </mat-form-field>
                </div>
              </div>

              <!-- Nome do responsável -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Profissão</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Profissão do usuário" [matTooltipPosition]="'right'"
                           placeholder="Programador"
                           formControlName="profissao">
                  </mat-form-field>
                </div>
              </div>

              <!-- Endereço -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Endereço</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text"
                               matTooltip="CEP da endereço da unidade" [matTooltipPosition]="'below'"
                               placeholder="CEP"
                               formControlName="cep">
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text"
                               matTooltip="UF da endereço da unidade" [matTooltipPosition]="'below'"
                               placeholder="UF"
                               formControlName="uf">
                      </mat-form-field>
                    </div>

                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text"
                               placeholder="Cidade"
                               matTooltip="Cidade do endereço da unidade" [matTooltipPosition]="'below'"
                               formControlName="cidade">
                      </mat-form-field>
                    </div>
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text"
                               matTooltip="Logradouro do endereço da unidade" [matTooltipPosition]="'below'"
                               placeholder="Logradouro"
                               formControlName="logradouro">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer ">
                <div class="btn-group ml-auto">
                  <button mat-raised-button class="btn btn-fill btn-danger" matTooltip="Cancelar cadastro" [matTooltipPosition]="'above'" (click)="cancelar()">Cancelar</button>
                  <button mat-raised-button type="submit" class="btn btn-fill btn-success" matTooltip="Salvar informações" [matTooltipPosition]="'above'" [disabled]="!formGroup.valid" (click)="salvar()">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
