<header id="header" class="header">
  <div class="top-left">
    <sisadmin-navbar-header></sisadmin-navbar-header>
  </div>

  <div class="top-right">
    <div class="header-menu">
      <div class="header-left">
        <sisadmin-search-header *ngIf="false"></sisadmin-search-header>
        <sisadmin-dropdown-notification-header></sisadmin-dropdown-notification-header>
        <sisadmin-dropdown-message-header></sisadmin-dropdown-message-header>
      </div>

      <sisadmin-dropdown-user-header></sisadmin-dropdown-user-header>
    </div>
  </div>
</header>
