<div id="main-menu" class="main-menu collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li>
      <a><i [attr.class]="menuContainer.iconsClass"></i>{{menuContainer.home}}</a>
    </li>
    <div style="width: 100%; padding-left: 30px; padding-right:  30px" *ngFor="let category of menuContainer?.categories">
      <li class="menu-title">{{category.title}}</li><!-- /.menu-title -->
      <sisadmin-aside-menu-item [menuItems]="category.items"></sisadmin-aside-menu-item>
    </div>

  </ul>
</div><!-- /.navbar-collapse -->
