<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header  card-header-text">
            <div class="card-text card-header-app-radio-red">
              <h4 class="card-title">Cadastro de Curso</h4>
            </div>
          </div>
          <div class="card-body ">
            <form [formGroup]="formGroup" class="form-horizontal">

              <div class="row">
                <label class="col-sm-2 col-form-label">Curso</label>
                <div class="col-sm-10">
                  <mat-form-field class="col-md-6">
                    <input matInput type="text" matTooltip="Nome Curso" [matTooltipPosition]="'right'" placeholder="Insira o nome do curso"
                      formControlName="nomeCurso">
                  </mat-form-field>
                </div>
              
              </div>

              <div class="row">
                <label class="col-sm-2 col-form-label">Disponível</label>
                <div class="col-lg-5 col-md-4 col-sm-4">
                  <mat-form-field>
                    <mat-select placeholder="" name="disponivel" formControlName="disponibilidade">
                      <mat-option *ngFor="let disponibilidade of opcoesDisponibilidade" [value]="disponibilidade.value">
                        {{ disponibilidade.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-sm-2 col-form-label">Categoria</label>
                <div class="col-lg-5 col-md-4 col-sm-4">
                  <mat-form-field>
                    <mat-select placeholder="" name="disponivel" formControlName="categoriaCurso">
                      <mat-option *ngFor="let categoria of categoriasCurso" [value]="categoria.value">
                        {{ categoria.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              
                  <div class="row">
                      <label class="col-sm-2 col-form-label">Carga Horárias </label>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Carga Horária Teórico">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Carga Horária Prático">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Carga Horária Estágio">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                      <label class="col-sm-2 col-form-label">Valores do Curso</label>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Valor Curso">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Valor Matrícula">
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Valor Teste">
                      </mat-form-field>
                    </div>
                  </div>
          
              <div class="card-footer ">
                <div class="btn-group ml-auto">
                  <button mat-raised-button class="btn btn-fill btn-danger" matTooltip="Cancelar cadastro"
                    [matTooltipPosition]="'above'" (click)="cancelar()">Cancelar</button>
                  <button mat-raised-button type="submit" class="btn btn-fill btn-success" matTooltip="Salvar informações"
                    [matTooltipPosition]="'above'" [disabled]="!formGroup.valid" (click)="salvar()">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>