<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Criar novo Perfil</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="modalCreateForm" (ngSubmit)="submitForm()">
    <div class="card">
      <div class="card-body card-block">

        <div class="form-group">
          <label for="nome" class=" form-control-label">Nome</label>
          <input type="text" id="nome" formControlName="nome" placeholder="Exemplo: ROLE_ADMIN" class="form-control">
        </div>

        <div class="form-group">
          <label for="descricao" class=" form-control-label">Descrição</label>
          <input type="text" id="descricao" formControlName="descricao" placeholder="Exemplo: Administrador do sistema" class="form-control">
        </div>

        <div class="form-check">
          <label for="ativo" class=" form-control-label">Ativo</label>
          <input style="margin-left: 10px;" type="checkbox" id="ativo" formControlName="ativo" class="checkbox">
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
      <button type="submit" ngbAutofocus class="btn btn-success" [disabled]="!modalCreateForm.valid" >Confirmar</button>
    </div>
  </form>
</div>
