<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-text">
            <div class="card-text card-header-app-radio-red">
              <h4 class="card-title">Detalhar unidade</h4>
            </div>
          </div>
          <div class="card-body ">
            <div class="form-horizontal">

              <!-- Razao social -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Razão social</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Razão social da empresa" [matTooltipPosition]="'right'"
                           disabled >
                  </mat-form-field>
                </div>
              </div>

              <!-- Nome fantasia -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Nome fantasia</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Nome fantasia da empresa" [matTooltipPosition]="'right'"
                           disabled >
                  </mat-form-field>
                </div>
              </div>

              <!-- CNPJ -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Cnpj</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="CNPJ da empresa" [matTooltipPosition]="'right'"
                           disabled >
                  </mat-form-field>
                </div>
              </div>

              <!-- Email -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="email"
                           matTooltip="E-mail principal da empresa/unidade" [matTooltipPosition]="'right'"
                           disabled >
                  </mat-form-field>
                </div>
              </div>

              <!-- Telefone -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Telefone</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="phone"
                           matTooltip="Telefone principal da empresa/unidade" [matTooltipPosition]="'right'"
                           disabled >
                  </mat-form-field>
                </div>
              </div>

              <!-- Nome do responsável -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Nome do responsável</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text"
                           matTooltip="Nome da responsável da empresa" [matTooltipPosition]="'right'"
                           disabled >
                  </mat-form-field>
                </div>
              </div>

              <!-- Endereço -->
              <div class="row">
                <label class="col-sm-2 col-form-label">Endereço</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text"
                               matTooltip="CEP da endereço da unidade" [matTooltipPosition]="'below'"
                               disabled >
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text"
                               matTooltip="UF da endereço da unidade" [matTooltipPosition]="'below'"
                               disabled>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text"
                               matTooltip="Cidade do endereço da unidade" [matTooltipPosition]="'below'"
                               disabled>
                      </mat-form-field>
                    </div>
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text"
                               matTooltip="Logradouro do endereço da unidade" [matTooltipPosition]="'below'"
                               disabled>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer ">
                <div class="btn-group ml-auto">
                  <button mat-raised-button class="btn btn-fill btn-app-radio-red"
                          matTooltip="Voltar para listagem de unidades" [matTooltipPosition]="'above'"
                          (click)="cancelar()">Voltar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
