<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Editar usuário</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="modalEditForm" (ngSubmit)="submitForm()">

    <div class="card">
      <div class="card-body card-block">
        <div class="form-group">
          <label for="name" class=" form-control-label">Nome</label>
          <input type="text" id="name" formControlName="name"   placeholder="Exemplo: Jhone Carlos" class="form-control">
        </div>

        <div class="form-group">
          <label for="profile" class=" form-control-label">Perfil</label>
          <input type="text" id="profile" formControlName="profile" placeholder="Exemplo: Administrador" class="form-control">
        </div>

        <div class="form-group">
          <label for="responsibility" class=" form-control-label">Cargo</label>
          <input type="text" id="responsibility" formControlName="responsibility" placeholder="Exemplo: Gerente de serviços" class="form-control">
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
      <button type="submit" ngbAutofocus class="btn btn-success" [disabled]="!modalEditForm.valid" >Confirmar</button>
    </div>
  </form>
</div>
